/* Reset all settings to default */

/* Margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

/* Lists */
ul,
ol {
    list-style: none;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}

/* Forms */
button,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background: none;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
}

/* Tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
