:root{
    --bg-white: white;
    --bg-black: black;
    --bg-lighter-black: rgb(30,30,30);
    --bg-custom: #ffdca9;
    --bg-custom-darker: #f7c376;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #ffdca9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header{
    width: 80vw;
    height: 10vh;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > #book-library{
    font-size: 2rem;
    border-bottom: 3px solid var(--bg-black);
}

.header > #add-book-btn,
.form > .fieldset > button{
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    height: 37px;
    background: var(--bg-black);
    color: var(--bg-white);
}

.header > #add-book-btn:hover,
.form > .fieldset > button:hover{
    background: var(--bg-lighter-black);
    cursor: pointer;
}

.header > #add-book-btn:active,
.form > .fieldset > button:active{
    transform: scale(0.95);
}

.library{
    position: relative;
    width: 85vw;
    margin: 50px auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 20px;
}

.card{
    height: 200px;
    width: 325px;
    background: var(--bg-white);
    border-radius: 20px;
    border-bottom: 5px solid var(--bg-lighter-black);
    border-right: 5px solid var(--bg-lighter-black);
    gap: 30px;
    padding: 20px;
    transition: transform 0.3s ease; /* Adding a smooth transition */
    position: relative;

}

/* .card:hover{
    transform: scale(1.05);
} */

.card > .card-x {
    border: none;
    background: var(--bg-white);
    font-weight: 600;
    font-size: 1rem;
    position: absolute;
    right: 8px;
    top: 4px;
    color: red;
}

.card > .card-x:hover{
    cursor: pointer;
}

.card > .card-x:active{
    transform: scale(0.8);
}

.card > p{
    margin: 15px auto;
}

.card > .title{
    margin: 0px auto 5px auto;
    border-bottom: 3px solid var(--bg-black);
}

.card > .title > .title-name{
    font-style: italic;
    padding-left: 16px;
    font-size: 1rem;

}

.card > .status-row{
    display: flex;
    justify-content: left;
    align-items: center;
} 

.card > .status-row > .toggle-btn{
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-left: 70px;
    background: var(--bg-custom);
}

.card > .status-row > .toggle-btn:hover{
    cursor: pointer;
    background: var(--bg-custom-darker);
}

.card > .status-row > .toggle-btn:active{
    transform: scale(0.95);
}

.dialog[open]{
    position: absolute;
    top: -20px;
    margin: 0 auto;
    /* margin-bottom: 100px; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border: none;
    width: 300px;
    height: 475px;


}

.form-row{
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}

.form-row > input{
    margin: 10px 50px 10px 0;
    border-radius: 10px;
    border: none;
    background: #e9effa;
    padding: 5px;
}

.form-row > input:focus{
    outline: none;
}

.form > .fieldset{
    border: none;
}

.form > .fieldset > .legend-row{
    display: flex;
    justify-content: space-between;
}



.form > .fieldset > .legend-row > legend,
.form > .fieldset > .legend-row > .X{
    font-weight: 600;
    font-size: 1.2rem;
}

.form > .fieldset > .legend-row > .X{
    border: none;
    background: var(--bg-white);

}

.form > .fieldset > .legend-row > .X:hover{
    cursor: pointer;
}

.form > .fieldset > .legend-row > .X:active{
    transform: scale(0.8);
}

.form > .fieldset > .form-row.status{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form > .fieldset > button{
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
}

::backdrop {
    backdrop-filter: blur(10px);
}

