@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech+Mono&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --main-color: rgba(1, 9, 34, 1);
    --font-color-white: #fff;
    --secondary-main-color: rgba(107, 107, 246, 1);
    --color-github: #b0adad;
    --color-linkedin: #066cda;
    --color-facebook: #1701c2;
    --color-git: #e85805;
    color: var(--font-color-white);
    background: var(--main-color);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Share Tech Mono', sans-serif;
    box-sizing: border-box;
    background: var(--main-color);
}

body::-webkit-scrollbar {
    display: none;
  }

.socials{
    position: fixed;
    width: 5vw;
    background: var(--main-color);
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.social{
    transition: transform .2s ease;
}

.social:nth-child(1){
    font-size: 2rem;
    position: absolute;
    top: 40%;
    left: 1.25vw;
}

.social:nth-child(2){
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 1.25vw;
}

.social:nth-child(3){
    font-size: 2rem;
    position: absolute;
    top: 60%;
    left: 1.25vw;
}

.social:nth-child(4){
    font-size: 2rem;
    position: absolute;
    top: 70%;
    left: 1.25vw;
}

/* .social:nth-child(5){
    font-size: 2rem;
    position: absolute;
    top: 80%;
    left: 1.25vw;
} */

.social:hover{
    transform: translateX(5px);
}

.social > a > .github:hover{
    color: var(--color-github);
    transition: color .2s ease;
}

.social > a > .linkedin:hover{
    color: var(--color-linkedin);
    transition: color .2s ease;
}

.social > a > .facebook:hover{
    color: var(--color-facebook);
    transition: color .2s ease;
}

.social > a > .git:hover{
    color: var(--color-git);
    transition: color .2s ease;
}
/* 
.social > a > .facebook:hover{
    color: var(--color-facebook);
    transition: color .2s ease;
} */



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    min-width: 100vw;
    height: 10vh;
    background: var(--main-color);
    z-index: 999;
    box-shadow: 0 4px 4px var(--secondary-main-color);
}

.credentials {
    margin: auto 1.25vw;
}

.credentials>#mm {
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-main-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.nav {
    display: flex;
    align-items: center;
}

.nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav>ul>li,
.nav>ul>#resume-btn {
    transition: transform .1s ease-in-out;
}

.nav>ul>li:active,
.nav>ul>#resume-btn:active {
    transform: scale(0.9);
}

.nav>ul>li>a,
.nav>ul>#resume-btn {
    margin: 15px 3px;
    padding: 8px 15px;
    border: 1px solid var(--secondary-main-color);
    border-radius: 5px;
    font-weight: 600;
    color: var(--secondary-main-color);
}

.nav>ul>li>a:hover,
.nav>ul>#resume-btn:hover {
    background: var(--secondary-main-color);
    color: var(--font-color-white-darker);
}

.nav>ul>#resume-btn {
    margin: auto 30px;
}

.nav>ul>#resume-btn:hover {
    cursor: pointer;
}

.home,
.projects,
.skillset,
.contact {
    position: relative;
    top: 0vh;
    max-width: 100vw;
    height: 100vh;
}

.hr {
    height: 10vh;
    top: 0vh;
    position: relative;
}

.hr>hr {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 85vw;
    width: 100%;
    background: var(--font-color-white);
    height: 2px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 4px var(--font-color-white);
    transform: translate(-50%, -50%);
}

.heading {
    font-size: 2.5rem;
    font-style: italic;
    margin-bottom: 60px;
    width: max-content;
}

.home {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.home-left {
    display: flex;
    float: left;
    width: 65%;
    padding: 120px;
}


.home-left>.introduction>#introduction-info {
    font-size: 2rem;
}

#name {
    margin: 20px auto;
    line-height: 4;
}

#my-name {
    color: var(--secondary-main-color);
    word-wrap: nowrap;
}

.user-info {
    line-height: 1;
}

.user-info>#job-title {
    color: var(--secondary-main-color);
    word-wrap: nowrap;
    overflow: hidden;
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
    font-size: 4rem;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.user-info {
    font-size: 4.4rem;
    letter-spacing: -10px;
    margin-top: 50px;
}

.home-right {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 35%;
    margin-right: 120px;
}

.home-right>.pfp {
    height: 420px;
    width: 420px;
    margin: 30px;
    border-radius: 100%;
    overflow: hidden;
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 1); */
    border: 7px solid var(--font-color-white);
}

.home-right>.pfp>#pfp {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 30%;
}

#name.visible.blink {
    animation: blink 1.5s step-end infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.projects {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: auto auto;
}

.projects > .card{
    max-width: 35vw;
    width: 100%;
    max-height: 40vh;
    height: 100%;
    border-radius: 20px;
    border-top: 1px solid var(--secondary-main-color);
    border-left: 1px solid var(--secondary-main-color);
    box-shadow: 4px 4px 1px var(--secondary-main-color);
    transition: transform .2s ease-in-out;
}

.projects > .card:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.card-left{
    padding: 12px;
    width: 100%;
    max-width: 60%;
    display: grid;
    justify-content: start;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 125px 40px 1fr;
    
}

.card-left > p{
    margin: 8px auto 8px 0px;
}

.card-left > .prj-title{
    font-size: 1.2rem;
    font-weight: 600;
    /* border-bottom: 2px solid var(--secondary-main-color); */
    font-style: italic;
    margin-bottom: 5px;

}

span.span-title{
    color: var(--secondary-main-color);
}

.prj-desc{
    line-height: 1.1;
}

.tech-stack{
    color: var(--font-color-white);
}
.tech-stack > .ts{
    color: var(--secondary-main-color);
}

.link{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.link > a > i{
    font-size: 1.3rem;
    transition: transform .2s ease;
}

.link > a > i:active{
    transform: scale(0.9);
}

.card-right{
    padding: 10px;
    width: 100%;
    max-width: 40%;
}

.skillset {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillset>.heading {
    margin: 0 auto;
    margin-bottom: 50px;
}

.heading>#skillset {
    color: var(--secondary-main-color);
}

.skills {
    display: flex;
}

.skills>.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    border-top: 1px solid var(--secondary-main-color);
    border-left: 1px solid var(--secondary-main-color);
    border-radius: 10px;
    box-shadow: 4px 4px var(--secondary-main-color);
    margin: auto 20px;
    position: relative;
    transition: transform .6s ease;
}

.skills>.skill:hover {
    transform: translateY(-20px);
}

.skill>i {
    font-size: 8rem;
    margin: 20px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact>.heading {
    text-align: center;
    margin: 50px auto;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top: 1px solid var(--secondary-main-color);
    border-left: 1px solid var(--secondary-main-color);
    box-shadow: 4px 4px 1px var(--secondary-main-color);
    border-radius: 5px;
    margin-bottom: 30px;
    overflow: hidden;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 20px;
    width: 400px;
    max-width: 100%;
}

.form-row>* {
    height: 100%;
}

.form-row>label {
    font-size: 1.2rem;
}

.form-row>input,
.form-row>textarea {
    border-top: 1px solid var(--secondary-main-color);
    border-left: 1px solid var(--secondary-main-color);
    box-shadow: 3px 3px var(--secondary-main-color);
    border-radius: 5px;
    max-height: 100%;
    height: 80px;
    font-size: 1.2rem;
    padding: 15px;
    background: var(--main-color);
}

.form-row>input:focus,
.form-row>textarea:focus {
    outline: none;
}

.form-row>textarea {
    resize: none;
}

.form>#send-btn {
    margin: 0px auto 30px auto;
    padding: 10px;
    border: 1px solid var(--secondary-main-color);
    border-radius: 5px;
    font-weight: 600;
    color: var(--secondary-main-color);
    transition: transform .1s ease-in-out;
    max-width: 100px;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
}

.form>#send-btn:active {
    transform: scale(0.9);
}

.form>#send-btn:hover {
    background: var(--secondary-main-color);
    color: var(--font-color-white-darker);
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100vw;
    width: 100%;
    height: 10vh;
    background: transparent;
    z-index: 999;
    margin-top: 10vh;
    padding: 10px;
}

.footer>#copyright {
    word-spacing: 4px;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 20px;
    text-align: center;
}

#copy-name {
    color: var(--secondary-main-color);
}
