*{
    margin: 0;
    padding: 0;
}

:root{
    --white-color: #fff;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
    width: 100%;
    height: 100%;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left-container{
    width: 40vw;
    height: 100vh;
    left: 0;
    bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 3px 20px 5px ;
    z-index: 999;
}

.left-container > img{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -18px;
}

.left-container > small{
    position: absolute;
    bottom: 5px;
    color: var(--white-color);
}

.left-container > small > span,
.left-container > small > span > a{
    color: var(--white-color);
    text-decoration: underline;
}

.left-container > small > span > a:active{
    color: var(--white-color);
}


.right-container{
    width: 60vw;
    height: 100vh;
    margin-top: 100px;
    margin-left: 30px;
    margin-bottom: 100px;
}

.right-container > .description > p{
    font-weight: 600;
    font-size: 1.2rem;
}

.right-container > .description > p:last-child{
    margin-bottom: 20px;
}


.right-container > .form-container{
    width: 100%;
    height: calc(100vh / 2.8);
    background-color: #f6f6f6;
    position: relative;
    margin: 0 0 0 -30px;
    padding-left: 30px;
    box-shadow: 0 3px 8px 0px;
}

.right-container > .form-container > .form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.right-container > .form-container > h2{
    padding-top: 20px;
}

.right-container > .form-container > .form > .input{
    width: 40%;
    display: flex;
    flex-direction: column;
    
}

.right-container > .form-container > .form > .input > label{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}


.right-container > .form-container > .form > .input > input{
    height: 20px;
    border-color: chocolate;
    border-radius: 5px;
}

.right-container > .form-container > .form > .input > input:focus{
    outline: none;
}

.right-container > .form-container > .form > .input:nth-child(2n +1){
    margin-right: 16%;
    margin-bottom: 10px;

}


.right-container > #btn{
    margin-top: 30px;
    height: 50px;
    width: 180px;
    border-radius: 5px;
    background-color: chocolate;
    color: var(--white-color);
    border: none;
    font-size: .85rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .8);
    
}

.right-container > #btn:hover{
    cursor: pointer;
    opacity: .9;
}

.right-container > #btn:active{
    transform: scale(0.98);
}

.right-container > p{
    margin-top: 40px;
    font-size: 12px;
    font-weight: 600;
}

.right-container > p > a{
    color: chocolate;
    font-weight: 800;
    text-decoration: none;
}

input{
    padding-left: 5px;
}

/* input:focus{
    animation: input-border-anim 1s linear infinite;
    
}

@keyframes input-border-anim {
    0%{
        border: none;
        border-top: 2px solid chocolate;
    }
    25%{
        border-top: 2px solid chocolate;
        border-right: 2px solid rgb(206, 93, 13);
    }
    50%{
        border-top: 2px solid chocolate;
        border-right: 2px solid rgb(206, 93, 13);
        border-bottom: 2px solid rgb(161, 73, 10);
    }
    100%{
        border-top: 2px solid chocolate;
        border-right: 2px solid rgb(206, 93, 13);
        border-bottom: 2px solid rgb(161, 73, 10);
        border-left: 2px solid rgb(116, 49, 2);
    }
} */